<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="ChartsController" data-ng-init="list()">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
      <div class="card">
        <ul class="nav nav-tabs" role="tablist">
          <li><a href="charts/block-size" aria-controls="block-size" role="tab" data-toggle="tab"><i class="fa fa-home"></i>  <span>Block Size</span></a></li>
          <li><a href="charts/block-interval" aria-controls="block-interval" role="tab" data-toggle="tab"><i class="fa fa-user"></i>  <span>Block Interval</span></a></li>
          <li><a href="charts/difficulty" aria-controls="difficulty" role="tab" data-toggle="tab"><i class="fa fa-envelope-o"></i>  <span>Difficulty</span></a></li>
          <li><a href="charts/mining-revenue" aria-controls="mining-revenue" role="tab" data-toggle="tab"><i class="fa fa-cog"></i>  <span>Mining Revenue</span></a></li>
        </ul>
        <!-- Tab panes -->
	<div class="tab-content">
        <div role="tabpane" id="chart"></div>
	</div>
      </div> <!-- END CARD -->
    </div>
  </div> <!-- END ROW -->
</div><!-- END CONTAINER -- >
</section>

